
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-item text-center">Trewinia Infotech</a>
      </li>
   
    </ul>
      <ul class="nav justify-content-end">
      
        <li class="nav-item">
          <button class="btn btn-block btn-outline-primary  text-white"routerLink="/login" >Login</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-block btn-outline-primary  text-white" routerLink="/register">Sign up</button>
        </li>
      </ul>
  </div>
</nav>
<div class="row justify-content-center mt-5">
    <div class="col-md-6 ">
<div class="card">
    <div class="card-header bg-primary text-center">
  <h4>  Registeration</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <div class="row justify-content-center">
                <div class="col-sm-6">

                    <div class="form-group">
                        <input formControlName="email" type="email" class="form-control"
                       [ngClass]="{ 'is-invalid': uf.email.touched && uf.email.errors }" name="email" placeholder="E-mail"
                       required>
                     <div *ngIf="uf.email.touched && uf.email.errors" class="invalid-feedback text-left">
                       <div *ngIf="uf.email.errors.required">Email is required</div>
                       <div *ngIf="uf.email.errors.email">Email must be a valid email address</div>
                     </div>
                   </div>
                   <div class="form-group">
                    <input formControlName="userName" type="userName" class="form-control"
                   [ngClass]="{ 'is-invalid': uf.userName.touched && uf.userName.errors }"
                    name="userName" placeholder="User Name"
                   required>
                 <div *ngIf="uf.userName.touched && uf.userName.errors" class="invalid-feedback text-left">
                   <div *ngIf="uf.userName.errors.required">User Name is required</div>
                  
                 </div>
               </div>
              
           <div class="form-group">
            <input type="password" class="form-control" formControlName="password"
              [ngClass]="{ 'is-invalid': uf.password.touched && uf.password.errors }" 
              name="password"
              placeholder="Password" required>
            <div class="input-group mb-4" *ngIf="uf.password.touched && uf.password.errors"
              class="invalid-feedback text-left">
              <div *ngIf="uf.password.errors.required">Password is required</div>
              <div *ngIf="uf.password.errors.minlength">Password must be at least 6
                characters
            </div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" formControlName="confirmPassword"
              [ngClass]="{ 'is-invalid': uf.confirmPassword.touched && uf.confirmPassword.errors }" name="password"
              placeholder=" Cnfirm Password" required>
            <div class="input-group mb-4" *ngIf="uf.confirmPassword.touched && uf.confirmPassword.errors"
              class="invalid-feedback text-left">
              <div *ngIf="uf.confirmPassword.errors.required">Confirm Password  is required</div>
              <div *ngIf="uf.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit"  class="btn btn-block btn-primary ">Register</button>
          </div>
                </div>
            </div>
        </form>
    </div>
  </div>
  </div>
  </div>