<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " style="text-align:center">
        <a class="nav-item  text-white">Trewinia Infotech</a>
      </li>
   
    </ul>
      <ul class="nav justify-content-end">
       
     
        <li class="nav-item">
          <button class="btn btn-block btn-outline-primary  text-white"routerLink="/login" >Login</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-block btn-outline-primary  text-white" routerLink="/register">Sign up</button>
        </li>
      </ul>
  </div>

</nav>
<div class="row justify-content-center mt-5">
    <div class="col-sm-6 ">
<div class="card">
    <div class="card-header bg-primary text-center">
  <h4>  Login</h4>
 
    </div>

    <div class="card-body bg-light justify-content-center">
       
         <p class="text-muted text-center">Sign In to your account</p>
       
        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
            <div class="row justify-content-center">
              <div class="col-sm-6">
             <div class="form-group">
                     <input formControlName="email" type="email" class="form-control"
                    [ngClass]="{ 'is-invalid': uf.email.touched && uf.email.errors }" name="email" placeholder="E-mail"
                    required>
                  <div *ngIf="uf.email.touched && uf.email.errors" class="invalid-feedback text-left">
                    <div *ngIf="uf.email.errors.required">Email is required</div>
                    <div *ngIf="uf.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" formControlName="password"
                    [ngClass]="{ 'is-invalid': uf.password.touched && uf.password.errors }" name="password"
                    placeholder="Password" required>
                  <div class="input-group mb-4" *ngIf="uf.password.touched && uf.password.errors"
                    class="invalid-feedback text-left">
                    <div *ngIf="uf.password.errors.required">Password is required</div>
                    <div *ngIf="uf.password.errors.email">Email must be a valid email address
                    </div>
                  </div>
                </div>
            
                <div class="form-group">
                        <button type="submit"  class="btn btn-block btn-primary ">Login</button>
                      </div>
               
                <div class="row">
                  <div class="col-sm-6">
                    <a class="h6" href="/#/login" (click)="forgotPassword()">Forgot Password</a>
                  </div>
                </div>
                
             
              </div>

            </div>
          </form>
          <hr>
 
          <div class="row">
            <div class="col-sm-12">
              <button type="button" routerLink="/register" class="btn btn-block btn-outline-primary ">Create New
                Accout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<router-outlet></router-outlet>