<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-item text-white">Home</a>
        </li>&nbsp;
        <li class="align-center">
            <a class="text-white h1">Trewinia Infotech</a>
                      </li>
      </ul>
     
        <ul class="nav justify-content-end">
          <li class="nav-item ">
            <div class="inline">
              <input class="form-control md-6" type="search" placeholder="Search" aria-label="Search" >
            
            </div>
          </li>
     
          <li class="nav-item">
            <button class="btn btn-block btn-outline-primary  text-white"  (click)="logout()">Logout</button>
          </li>
        </ul>
    </div>
  </nav>

   <div class="container">
    <div class="row  mt-3">
      <button (click)="displayOrgList()" class="btn bg-primary">Display List </button>
    </div>
    <div class="form-group col md-6 sticky-top mt-2">
      <input type="text" class="form-control" placeholder="Enter Keyword for Search" [(ngModel)]="searchedKeyword">
    </div>
    <table class="table table-hover table-bordered" >
      <thead >
        <tr class="row-md-lg-12 bg-light">
          <th scope="col">Id</th>
          <th scope="col">status</th>
          <th scope="col">Employee_name</th>
          <th scope="col">Employee_salary</th>
          <th scope="col">Employee_age</th>
          <th scope="col">Profile_image</th>
        </tr>
      </thead>
      <tbody *ngFor="let org of  orgList$  | filter:searchedKeyword ">
        <tr *ngFor="let data of org.data | filter:searchedKeyword |  paginate: { id: 'listing_pagination',
        itemsPerPage: 8,
        currentPage: page,
        totalItems: totalRec } ">
        
          <th scope="row" >{{data.id}}</th>
          <th scope="row" >{{org.status}}</th>
          <td >{{data.employee_name}}</td>
          <td >{{data.employee_salary}}</td>
          <td >{{data.employee_age}}</td>
          <td> {{data.profile_image}}</td>
        </tr>
      </tbody>
    </table>
    <div>
		<pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
	</div>
  </div> 

